<a href="https://colab.research.google.com/github/jhportfolio1/python/blob/main/python_4_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4. 제어문(Control)

## 1) 제어문 기본 및 if/else

조건에 따라서 다른 결과를 얻기 위해 사용하는 것

In [ ]:
value = 10
if value > 5:
  print('value is bigger than 5')

value is bigger than 5

if/else(=if not) 조건을 활용해본다.

In [ ]:
money = 10
if money > 100:
  item = 'apple'

else:
  item = 'banana'

print(item)

banana

## 2) 성적 처리

(1) socre input() 하면 바로 아래 입력창이 뜨고, 넣은 값이 아래 그대로 나타난다.

In [ ]:
score = input()
print(score)

100
100

(2) 입력 활용 -> 칸 앞에 칸 이름 넣어주기

In [ ]:
score = input(('input your score'))
print(score)

input your score100
100

(3) 성적에 조건 넣어보기

In [ ]:
score = int(input(('input your score:')))

if 90 <= score <=100:
  grade = 'A'
elif 80 <= score < 90:
  grade = 'B'
elif 70 <= score < 80:
  grade = 'C'
elif 60 <= score < 50:
  grade = 'D'
else:
  grade = 'F'

print('Your score is' + str(score))
print('Your grade is' + grade)

input your score:90
Your score is90
Your grade isA

## 2) 조건식의 참과 거짓

In [ ]:
print(bool(True))
print(bool(False))
print(bool(123))
print(bool(0))
print(bool(-1))
print(bool('apple'))

True
False
True
False
True
True

## 3) 반복문

(1) value문을 이용한 반복문 (-=을 넣으면 줄여가며 없어짐)

In [ ]:
value = 5
while value > 0:
  print(value)
  value -= 1

5
4
3
2
1

(2) for문을 이용한 반복문

In [ ]:
I = ['Apple', 100, 15.23]
for i in I:
  print(i)

Apple
100
15.23

(3) loop를 이용한 구구단 만들기

In [ ]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]

for i in loop2:
  print("2 * " + str(i) + "=" + str(2*i))

2 * 1=2
2 * 2=4
2 * 3=6
2 * 4=8
2 * 5=10
2 * 6=12
2 * 7=14
2 * 8=16
2 * 9=18

In [ ]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]

for i in loop2:
  print("2 * {0} = {1}".format(i, i*2))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## 선생님 답

In [6]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]

for i in loop1:
  print('{0} 단-----------------'.format(i))
  for j in loop2:
    print("{0} * {1} = {2}".format(i,j,i*j))

2 단-----------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 단-----------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 단-----------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 단-----------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 단-----------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 단-----------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 단-----------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 단-----------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

## 4) 반복문 멈추기

### (1) break 문을 이용해 반복문을 멈추기

In [31]:
L = [1,2,3,4,5,6,7,8,9,10]

In [32]:
for i in L:
  if i>5:
    break
  print('Item: {0}'.format(i))

Item: 1
Item: 2
Item: 3
Item: 4
Item: 5

### (2) continue 문을 통해 해당 반복만 건너뛰기

In [15]:
for i in L:
  print('Item{0}'.format(i))

Item1
Item2
Item3
Item4
Item5
Item6
Item7
Item8
Item9
Item10

이 중에서 홀수만 추출하고 싶을 때?

In [33]:
for i in L:
  if i%2 == 0:
    continue

  print('Item{0}'.format(i))

Item1
Item3
Item5
Item7
Item9

(3) range 함수를 이용한 특정 범위의 숫자 생성 방식

In [20]:
print(list(range(10)))
print(list(range(5, 10)))
print(list(range(10,0,-1)))
print(list(range(0,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 2, 4, 6, 8]

또 다른 연습 해보기

In [21]:
L = ['Apple', 'Ornage', 'Banana']

for i in L:
  print(i)

Apple
Ornage
Banana

In [22]:
l = list(range(1,6))

In [23]:
[print(i) for i in l]

1
2
3
4
5

[None, None, None, None, None]

In [24]:
[i**2 for i in l]

[1, 4, 9, 16, 25]