<a href="https://colab.research.google.com/github/jhportfolio1/MsAiSchool_05_Linux/blob/main/Linux01_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#코드 규칙(기본)
###파이썬은 알파벳 대소문자를 구분한다.
###모든 코드는 알파벳으로 시작해야 한다.(숫자나 특수문자 불가)

In [ ]:
friend = 1
Friend = 10
print(friend)

1

###예약어는 사용할 수 없다.
for = 1

In [ ]:
 File "<ipython-input-11-0506ebf6d873>", line 2
    for = 1
        ^
SyntaxError: invalid syntax

SyntaxError: ignored

#숫자형

In [ ]:
year = 2023
month = 4
print(year, month)

2023 4

### year = 'Test' 를 넣어본다면?

In [ ]:
year = 2023
print(type(year))  # type() 함수 : 데이터의 타입을 확인하는 함수

<class 'int'>

type() 함수 안에 'year'을 넣어서 타입이 'in't 라고 확인되었음

In [ ]:
year = 2023
print(type(year))
year = '이천이십삼년'
print(type(year))

<class 'int'>
<class 'str'>

*   class 'int' 는 정수가 출력되었다는 말이다.
*   class 'str' 은 문자가 출력되었다는 말이다.

# 8진수
### 정수 앞에 0o를 붙이면 8진수를 만들 수 있다.

In [ ]:
print (0o10)

8

### 정수 앞에 0b를 붙이면 2진수를 만들 수 있다.

In [ ]:
print (0b10)

2

### 정수 앞에 0x를 붙이면 16진수를 만들 수 있다.

In [ ]:
print (0x10)

16

### 10진수를 받아서 각 진수로 변환하는 방법 (결과가 문자형)

In [ ]:
print(type(1))

<class 'int'>

In [ ]:
print(oct(38)) #10진수 38을 8진수로 변환
print(hex(38)) #10진수 38을 16진수로 변환
print(bin(38)) #10진수 38을 2진수로 변환

0o46
0x26
0b100110

#파이썬의 정수 타입

In [ ]:
print(type(1))       #int
print(type(2**31))    #2의 31승 -> int 타입으로 나옴

<class 'int'>
<class 'int'>

# 실수의 표현

In [ ]:
print(type(3.14))   #실수

<class 'float'>

In [ ]:
type(3.14)

float

print() 없이 사용할 경우, 실제에서는 오류 발생함

In [ ]:
print(type(3.14))   #실수
print(type(3 -4j))  #복소수

<class 'float'>
<class 'complex'>

In [ ]:
print(type(3.14))
print(type(314e-2))

<class 'float'>
<class 'float'>

3.14 = 314e-2

In [ ]:
x = 3 - 4j
print(x.imag)          #imag는 허수부
print(x.real)          #real은 실수부
print(x.conjugate())   #conjage는 전체를 확인

-4.0
3.0
(3+4j)

# 원의 넓이와 삼각형 넓이 구하기

### 1) 원의 넓이 구하기

In [ ]:
r = 2
circle_area = (r ** 2) * 3.14
print(circle_area)

12.56

### 2) 삼각형 넓이 구하기

In [ ]:
x = 3
y = 4
triangle_area = x * y / 2
print(triangle_area)

6.0

# 문자형 실습

In [ ]:
print ('Hello World')
print ("Hello World")

Hello World
Hello World

' ' / " " 문자형에서 동일하게 작용한다

In [ ]:
print("Welcome to 'Python World'")

Welcome to 'Python World'

강조하고 싶은 경우 " " 안에 ' ' 넣어서 표현 할 수 있다

In [ ]:
print('''
여호와는 나의 목자시니
내가 부족함이 없으리로다
            - 시편 23편
''')

여호와는 나의 목자시니
내가 부족함이 없으리로다
            - 시편 23편

긴 문장을 사용하고 싶은 경우 ''' ___ ''' 사이에 입력하면 된다. (single quatation 3개씩)

In [ ]:
print('＼t탭＼n다음줄')

＼t탭＼n다음줄

In [ ]:
'py' 'thon'
print('py' 'thon')

python

아무 말이 없으면 붙여서 출력한다.

In [ ]:
print('py' + 'thon')  # +로 붙여서 쓰면 더 좋다.

python

In [ ]:
print('py'*3)    # py를 3번 연속쓴다.

pypypy

In [ ]:
a = 'python'

In [ ]:
print(a[0])
print(a[0+1])

p
y

In [ ]:
a[0] = 'A'

TypeError: ignored

index 는 read-only 속성이라 수정은 불가능하다.
그저 가져올 뿐!

### slice를 이용하여, 문자를 원하는 만큼 가져올 수 있다

In [ ]:
print(a[0])
print(a[0:1])  
print(a[0:4])
print(a[:2])
print(a[2:])
print(a[-2:])
print(a[:])
print(a[::2])

p
p
pyth
py
thon
on
python
pto

#데이터 타입의 변환

In [ ]:
print(str(3.14))      #문자형으로 변환
print(int(49.12))   #정수형으로 변환
print(float(23))      #실수형으로 변환

3.14
49
23.0